includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 9
    paths:
        - config
        - src
        - test
    ignoreErrors:
        - identifier: missingType.iterableValue
